/* Responsive styles
================================================== */
/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  /* Dropdown animation */
  .navbar-nav .dropdown-menu,
  .navbar-nav .dropdown.megamenu div.dropdown-menu {
    background: none;
    border: 0;
    box-shadow: none;
    display: block;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: visibility 500ms, opacity 500ms, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -moz-transition: visibility 500ms, opacity 500ms, -moz-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -o-transition: visibility 500ms, opacity 500ms, -o-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -ms-transition: visibility 500ms, opacity 500ms, -ms-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  }

  .navbar-nav .dropdown:hover div.dropdown-menu,
  .navbar-nav .dropdown.megamenu:hover div.dropdown-menu {
    opacity: 1;
    visibility: visible;
    color: #777;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .navbar-nav .dropdown-backdrop {
    visibility: hidden;
  }
}

/* Events Page Calendar */
@media (max-width: 1025px) {
  .wide {
    display: none;
    width: 0%;
  }

  .mobile {
    display: inline-block;
    width: initial;
  }
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  .title {
    font-size: 40px;
  }

  .navbar-header .navbar-brand a {
    padding: 6px 8px;
  }

  .navbar-collapse {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .single-post {
    padding-top: 20px;
  }

  .blog-post-image {
    float: none;
  }

  #blog-full-width {
    padding-top: 20px;
  }

  #hero-area {
    background-position: top 40px center;
    padding-top: 50px;
    padding-bottom: 280px;
  }

  #hero-area .btn {
    margin-top: 8px;
  }

  .global-page-header {
    padding: 30px 0 25px 0;
  }

  #about {
    padding: 70px 0;
  }

  #about .block {
    padding: 0;
  }

  #feature .media {
    margin: 0px 0px 35px;
  }

  .dropdown-menu > ul > li > a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 15px;
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu > ul {
    list-style: none;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: -5px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 0.09px rgba(0, 0, 0, 0.15);
  }

  .navbar-collapse {
    background: #333333;
  }

  .wiki-heading h1 {
    display: block;
  }

  .wiki-heading div {
    display: block;
    float: none;

    line-height: 2.8;
  }

  .wiki-heading a {
    padding-left: 0px;
    padding-right: 10px;
  }

  .wiki .table-of-contents {
    float: none;

    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  #top-bar {
    position: relative;
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #top-bar .main-menu li > a {
    color: #fff;
    padding: 21px 10px;
    background: transparent;
  }

  #top-bar .dropdown-menu > ul {
    list-style: none;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: -5px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 0.09px rgba(0, 0, 0, 0.15);
  }

  #top-bar .dropdown-menu > ul > li > a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 15px;
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (max-width: 480px) {
  .fc-today-button {
    display: none;
  }

  #hero-area {
    background-position: top -50px center;
    background-size: 800px 800px;
    padding-top: 50px;
    padding-bottom: 280px;
  }
}
