<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="/images/shield-small.png">
        <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
        <link rel="shortcut icon" href="/images/shield-small.png">
        <link rel="author" href="/humans.txt">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Social Media Info
        ================================================== -->
        <meta property="og:title" content="{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}">
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/images/logo.png{% endif %}">
        <meta property="og:url" content="{{ site.url }}{{ page.url | remove: ".html" }}">
        <meta property="og:site_name" content="{{ site.name }}">
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:card" content="summary_large_image">


        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha512-Dop/vW3iOtayerlYAqCgkVr2aTr2ErwwTYOvRFUpzl2VhCMJyjQF0Q9TjUXIo6JhuM/3i0vVEt2e/7QQmnHQqw==" crossorigin="anonymous">
        <!-- animate css -->
        <link rel="stylesheet" href="https://unpkg.com/animate.css@3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous">
        <!-- fancybox css-->
        <link rel="stylesheet" href="https://unpkg.com/jquery.fancybox@2.1.5/source/jquery.fancybox.css" integrity="sha512-Q3Vew98bTOHNPS36lEFNZ4Bf8VvFo90mRRftC6BJrkSps6uKUmcCGFDWQaYyn2j5j/QbLizpF6EmwTf59UnZ0A==" crossorigin="anonymous">
        <!-- template main css file -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- fullcalendar css -->
        <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css" integrity="sha512-xe6/KDyyK+jEMDdgAOej+BqBp8c6aU03qYtcvoEfRt+DQTldQPeGfNv37JMdYydRyZIv8zPTE8ux0waBq852aw==" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/bootstrap@4.4.0/main.min.css" integrity="sha512-kFVnSlusxZrIHymJwzPZHsOPsLU+n2BnsPjxqyc/dpGkA0G4w2l3ws0mPKswt1I2yUD7Dg2EUmgZE3SSvQc2NQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css" integrity="sha512-q6m311WLP6USmDBW13XNdKupdLLKZCrqEuffGfPAq3iLZPWsu/v3UEJBoSyBODLjzEeArno592hnt3WVKNGt1Q==" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.css" integrity="sha512-zipjZP12e5XHmKrXz89zG2jhFNtsQPKxPUZ8fLwnApUXD3APGO7lQAfsiLFtfmR69wWz0QeLLhVXOoN9gDSi6w==" crossorigin="anonymous">

        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- jquery -->
        <script src="https://unpkg.com/jquery@1.12.4/dist/jquery.min.js" integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ==" crossorigin="anonymous"></script>
        <!-- bootstrap js -->
        <script src="https://unpkg.com/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg==" crossorigin="anonymous"></script>
        <!-- wow js -->
        <script src="https://unpkg.com/wowjs@1.1.3/dist/wow.min.js" integrity="sha512-GzfUS5tsgmQn8eElgtjl+pslWuz/hohQAjI17n7I1O1EAVR5IvEdLV3wnTu8OC3Tfr/B/0I3BR1T9LTphS0X2A==" crossorigin="anonymous"></script>
        <!-- typewriter js -->
        <script src="/js/txt-rotate.js"></script>
        <!-- fancybox js -->
        <script src="https://unpkg.com/jquery.fancybox@2.1.5/source/jquery.fancybox.js" integrity="sha512-CDTvYKbOXv86JIBa5/TWFZkE+4zMptqAJ+YBUySh7RRNxf0QEtjPaGgKbIHEkYj7eNGiVdRkhlhSUeKuvFQ/0w==" crossorigin="anonymous"></script>
        <!-- template main js -->
        <script src="/js/main.js"></script>
        <!-- icons js -->
        <script src="https://kit.fontawesome.com/8f683739d8.js" integrity="sha512-H8PQtqkzuizWl0AVMVK/3O0w1eNO7kNFgM7TN8eEQXroXYmUKoTOoVvl5XgMrsDTWygbwIs91y1AGK6YAw+fQA==" crossorigin="anonymous"></script>
        <!-- fullcalendar js -->
        <script src="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js" integrity="sha512-dlhMJKn8wQ6no5riy8y42aQfvxR2PagMNTi1Fw1CKQD8q1JLH1qGIrXNKYxLWHUqIDrW93885A3M3lC9MxZ2MA==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@fullcalendar/bootstrap@4.4.0/main.min.js" integrity="sha512-9vl1ZA2bgzSorUgGTEaYK5wgtHLN92FYws1SdrQK4jT8DQqN/lvyRGCGnMa+Tm6XmAvbId8ivQ33Cfy3985tlg==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@fullcalendar/google-calendar@4.4.0/main.min.js" integrity="sha512-sVMvDZ3p6M4eCru9isllGsyqJyeoXQogwX8xTUKZ69q+TbiQmzds15+WB89YlHCNCyUTjTelfuRs8vfeThbWsw==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js" integrity="sha512-yNiFYzFwGtP/11LeEgdsoZseBDXIo4IpzyDYhIOFTNbAzpg/iVtuHfK/4r8WmWt2jSAEz1oADgB67iEGwWSpHA==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.js" integrity="sha512-30U+snu6mZXpibnDDyARJp4n/T50S5ah3qnI61adlMLPpQwspfR5WBdFdbcuDqL4ZuQYyFpwbxyDXreDKUgwcA==" crossorigin="anonymous"></script>

{{ page.head }}
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="/" class="stop-theme">
                            <img src="/images/shield-small.png" alt="">
                            CU Cyber
                        </a>
                    </div>
                    <!-- /logo -->

                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="flat nav navbar-nav navbar-right">
                            <li><a href="/about">About</a></li>
                            <li><a href="/events">Events</a></li>
                            <li><a href="/contact">Contact us</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Useful Resources <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul class="flat">
                                        <li><a href="/resources">Presentations</a></li>
                                        <li><a href="/wiki/">Wiki</a></li>
                                        <li><a href="/documents/hackpack">Hackpack</a></li>
                                        <li><a rel="external noopener" href="https://github.com/CUCyber" target="_blank">GitHub</a></li>
                                        <li><a rel="external noopener" href="https://clemson.collegiatelink.net/organization/cucyber" target="_blank">TigerQuest</a></li>
                                        <li><a rel="external noopener" href="https://forms.gle/7nKX1ZZco6veSpLJA" target="_blank">Membership</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li><a rel="external noopener" href="https://cuctf.io" target="_blank">CUCTF</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>

        {% if page.breadcrumbs %}
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>{% if page.breadcrumbs.heading %}{{ page.breadcrumbs.heading }}{% else %}{{ page.title }}{% endif %}</h2>
                            <ol class="breadcrumb">
                                {% for breadcrumb in page.breadcrumbs.list %}
                                {% assign breadcrumb_info = breadcrumb | first %}
                                <li>{% if breadcrumb_info[1] %}<a href="{{ breadcrumb_info[1] }}">{% endif %}{% assign breadcrumb_downtitle = breadcrumb_info[0] | downcase %}{% if breadcrumb_downtitle == 'home' %}<i class="fas fa-home"></i> {% endif %}{{ breadcrumb_info[0] }}{% if breadcrumb_info[1] %}</a>{% endif %}</li>
                                {% endfor %}
                                <li class="active">{{ page.title }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}<!--/#page-header-->

<!--
==================================================
    Global Page Section Start
================================================== -->
{{ content }}

        <!--
        ==================================================
        Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">
                <ul class="social text-center">
                    <li><a rel="external noopener" href="https://discord.gg/f7ZcC7z" target="_blank"><i class="fab fa-discord fa-2x"></i></a></li>
                    <li><a rel="external noopener" href="https://www.instagram.com/cucyber/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                    <li><a rel="external noopener" href="https://www.linkedin.com/groups/12049268/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
                    <li><a rel="external noopener" href="https://twitter.com/CU_Cyber" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
                    <li><a rel="external noopener" href="https://www.youtube.com/channel/UCpnGCvDSNgxOVrN34eUlS-Q" target="_blank"><i class="fab fa-youtube fa-2x"></i></a><li>
                </ul>
                <p class="copyright">Copyright: <span>2020</span> CU Cyber &lt;cyber@clemson.edu&gt;. Design and Developed by <a rel="external noopener" href="https://themefisher.com" target="_blank">Themefisher</a></p>
                <p class="copyright text-center"><a href="/security">Security Acknowledgements</a></p>
            </div>
        </footer> <!-- /#footer -->
    </body>
</html>
